{% extends "layout.html" %}
{% block body %}
    {% if current_user.is_authenticated %}
        <h2>
            {{ current_user.name }}
        </h2>
        {% if most_positively_voted is not none %}
            <p>Most positively voted tweet is <b>"{{ most_positively_voted.tweettext }}"</b>
                with {{ most_positively_voted.affirm }} votes</p>
        {% endif %}
        {% if most_negatively_voted is not none %}
            <p>Most negatively voted tweet is <b>"{{ most_negatively_voted.tweettext }}"</b>
                with {{ most_negatively_voted.oppose }} votes</p>
        {% endif %}
        <h3>
            <p>Tweets added {{ all[0] }}</p>
        </h3>
        <h4>

            <a href="#">Normal {{ all[1] }}</a>
        </h4>
        <h4>
            <a href="#">Offensive {{ all[2] }}</a>
        </h4>
        <h4>
            <a href="#">Hateful {{ all[3] }}</a>
        </h4>

        {% if tweet is not none %}
            <div id="random_tweet">
                <p>Would you consider this normal {{ tweet.tweettype }} text?</p>
                <p>{{ tweet.tweettext }}</p>
                <form method="POST" action="{{ url_for('random_tweet_vote', id = tweet.id) }}">
                    <input type="hidden" value="{{ tweet.id }}" name="id">
                    <input type="submit" name="vote_button" value="Yes"/>
                </form>
                <form method="POST" action="{{ url_for('random_tweet_vote', id = tweet.id) }}">
                    <input type="hidden" value="{{ tweet.id }}" name="id">
                    <input type="submit" name="vote_button" value="No"/>
                </form>
            </div>
        {% endif %}
    {% else %}
        <h1>
            Hello, please login or register.
        </h1>
        <p>
        
        </p>
        <div>
            <h5>
                This is a small web thingie to store hateful or offensive tweets you come by on twitter. Log in to use
                the functionality.
            </h5>
        </div>
    {% endif %}
{% endblock %}