  <!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <title>Vihapuhekanta</title>
    </head>
    <body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="{{ url_for('tweets_index') }}">List tweets</a>
        <a href="{{ url_for('tweets_form') }}">Add a tweet</a>

    </div>
      {% block body %}
      <p>
	Content.
      </p>
      {% endblock %}
    </body>
  </html>