  <!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <title>Vihapuhekanta</title>
    </head>
    <body>
    <div class="topnav">
              {% if current_user.is_authenticated %}
      <p>
	Kirjautunut nimellä {{ current_user.name }}
        <a class="active" href="/">Home</a>
        <a href="{{ url_for('tweets_index') }}">List tweets</a>
        <a href="{{ url_for('tweets_form') }}">Add a tweet</a>
        <a href="{{ url_for('auth_logout') }}">Log out</a>

      </p>
      {% else %}
                  <h1>Log in or register to view page</h1>
                  <a href="{{ url_for('index') }}">Home</a>
      <a href="{{ url_for('auth_login') }}">Log in</a>
      <a href="{{ url_for('auth_register') }}"> Register </a>
      {% endif %}

    </div>
      {% block body %}
      <p>
	Content.
      </p>
      {% endblock %}
    </body>
  </html>