{% extends "layout.html" %}

{% block body %}
    {% if current_user.is_authenticated %}
        <div>Search for a tweet</div>
        <form method=post action="{{ url_for('tweets_index') }}">
            <d1>
                {{ form.select }}
                <p>
                    {{ form.search }}
            </d1>
            </p><input type="submit" value="Search"/>
        </form>
        <table>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Text</th>
                <th>Description</th>
                <th>Added By</th>
            </tr>
            {% for tweet in tweets %}
                <tr>
                    <td>{{ tweet.tweetid }}</td>
                    <td>{{ tweet.tweettype }}</td>
                    <td>{{ tweet.tweettext }}</td>
                    <td>{{ tweet.tweetdescription }}</td>
                    <td>{{ tweet.addedby }}</td>
                    <td>
                        <form method="POST" action="{{ url_for('tweet_delete', id = tweet.id) }}">
                            <input type="submit" value="Delete">
                        </form>
                    </td>
                    <td>
                        <form method="GET" action="{{ url_for('tweets_view', id = tweet.id) }}">
                            <input type="submit" value="Edit Description">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <div>Log in</div>
    {% endif %}
    <script type="text/javascript">
    </script>
{% endblock %}