{% extends "layout.html" %}

{% block body %}
    <div>Search for a tweet</div>
            <form method=post action="{{ url_for('tweets_index') }}">
            <d1>
                {{ form.select }}
                <p>
                {{ form.search }}
            </d1>
            </p><input type="submit" value="Search"/>
        </form>
  <table>
    <tr>
      <th>Id</th>
      <th>Type</th>
      <th>Text</th>
      <th>Added By</th>
        <th>Description</th>
      <th></th>
    </tr>
    {% for tweet in tweets %}
    <tr>
        <td>{{ tweet.tweetid }}</td>
        <td>{{ tweet.tweettype }}</td>
        <td>{{ tweet.tweettext }}</td>
        <td>{{ tweet.addedby }}</td>
        <td>{{ tweet.tweetdescription }}</td>

        <td>
        </td>
        <td>
            <form method="POST" action="./delete">
            <input type="hidden" value="{{ tweet.tweetid }}" name="tweetid">
            <input type="submit" value="Delete">
            </form>
        </td>

    </tr>
    {% endfor %}
  </table>
    <script type="text/javascript">
    </script>
{% endblock %}