{% extends "layout.html" %}
{% block body %}
    {% if current_user.is_authenticated %}
        <h1>Tweet id is the line of numbers at the end of a tweet's url eg. <b>1111111111111111111</b> and is 19 letters long</h1>
        <form method="POST" action="{{ url_for('tweets_create') }}">
            <div>
                <input type="text" name="tweetid" id="tweetid"/>
                <input type="radio" name="tweettype" id="normal" value="normal" checked> Normal
                <input type="radio" name="tweettype" id="offensive" value="offensive"> Offensive
                <input type="radio" name="tweettype" id="hateful" value="hateful"> Hateful
                <div id="description">
                    <p id="descriptionText"></p>
                    <input type="text" id="tweetdescription" value="" name="tweetdescription"
                           placeholder="Can be left blank"/>
                </div>
            </div>
            {{ texterror }}
            {% for error in form.tweetid.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            {% for error in form.tweetdescription.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            <input type="submit" value="Add a new tweet"/>

        </form>
        <script type="text/javascript">
            function setInputFilter(textbox, inputFilter) {
                ["input", "keydown", "keyup", "mousedown", "mouseup", "select", "contextmenu", "drop"].forEach(function (event) {
                    textbox.addEventListener(event, function () {
                        if (inputFilter(this.value)) {
                            this.oldValue = this.value;
                            this.oldSelectionStart = this.selectionStart;
                            this.oldSelectionEnd = this.selectionEnd;
                        } else if (this.hasOwnProperty("oldValue")) {
                            this.value = this.oldValue;
                            this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
                        }
                    });
                });
            }

            var normalSelect = document.getElementById('normal')
            var offensiveSelect = document.getElementById('offensive')
            var hateSelect = document.getElementById('hateful')
            var viewNotNormal = document.getElementById('description')
            var descriptor = document.getElementById('descriptionText')
            var tweetdescription = document.getElementById('tweetdescription')
            viewNotNormal.style.display = "none"
            // find elements

            normalSelect.addEventListener("click", function (event) {
                showNormal()
            })

            offensiveSelect.addEventListener("click", function (event) {
                showNotNormal()
                descriptor.innerText = "Why is this offensive, but not hateful?"

            })

            hateSelect.addEventListener("click", function (event) {
                showNotNormal()
                descriptor.innerText = "Why is this hateful?"
            })

            function showNotNormal() {
                viewNotNormal.style.display = "block"
            }

            function showNormal() {
                tweetdescription.value = ""
                viewNotNormal.style.display = "none"
            }

            setInputFilter(document.getElementById("tweetid"), function (value) {
                return /^\d*$/.test(value);
            });
        </script>
    {% else %}
        <div>Log in</div>
    {% endif %}
{% endblock %}