{% extends "layout.html" %}
{% block body %}
    {% if current_user.is_authenticated %}
        <form method="POST" action="{{ url_for('tweets_create') }}">
            <div>
                <input type="text" name="tweetid"/>
                <input type="radio" name="tweettype" id="normal" value="normal" checked> Normal
                <input type="radio" name="tweettype" id="offensive" value="offensive"> Offensive
                <input type="radio" name="tweettype" id="hateful" value="hateful"> Hateful
                <div id="description">
                    <p id="descriptionText"></p>
                    <input type="text" name="tweetdescription" placeholder="Can be left blank"/>
                </div>
            </div>
            {% for error in form.tweetid.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            {% for error in form.tweetdescription.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            <input type="submit" value="Add a new tweet"/>

        </form>
        <script type="text/javascript">
            var normalSelect = document.getElementById('normal')
            var offensiveSelect = document.getElementById('offensive')
            var hateSelect = document.getElementById('hateful')
            var viewNotNormal = document.getElementById('description')
            var descriptor = document.getElementById('descriptionText')
            viewNotNormal.style.display = "none"
            // find elements

            normalSelect.addEventListener("click", function (event) {
                showNormal()
            })

            offensiveSelect.addEventListener("click", function (event) {
                showNotNormal()
                descriptor.innerText = "Why is this offensive, but not hateful?"

            })

            hateSelect.addEventListener("click", function (event) {
                showNotNormal()
                descriptor.innerText = "Why is this hateful?"
            })

            function showNotNormal() {
                viewNotNormal.style.display = "block"
            }

            function showNormal() {
                viewNotNormal.style.display = "none"
            }
        </script>
    {% else %}
        <div>Log in</div>
    {% endif %}
{% endblock %}